name: RDP (Bore Direct)

on:
  workflow_dispatch:

jobs:
  secure-rdp:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Configure RDP
        run: |
          Set-Service -Name Audiosrv -StartupType Automatic
          Start-Service -Name Audiosrv
          Set-ItemProperty -Path 'HKLM:\SOFTWARE\Policies\Microsoft\Windows NT\Terminal Services' -Name "fDisableAudioCapture" -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0 -Force
          netsh advfirewall firewall set rule group="Remote Desktop" new enable=Yes

      - name: Create User
        run: |
          $pass = "User" + (Get-Random -Minimum 100000 -Maximum 999999)
          $securePass = ConvertTo-SecureString $pass -AsPlainText -Force
          New-LocalUser -Name "RDP" -Password $securePass -AccountNeverExpires
          Add-LocalGroupMember -Group "Administrators" -Member "RDP"
          Add-LocalGroupMember -Group "Remote Desktop Users" -Member "RDP"
          echo "RDP_PASS=$pass" >> $env:GITHUB_ENV

      - name: Start Bore Tunnel
        run: |
          # Download Bore
          Invoke-WebRequest -Uri "https://github.com/ekzhang/bore/releases/download/v0.5.0/bore-v0.5.0-x86_64-pc-windows-msvc.zip" -OutFile "bore.zip"
          Expand-Archive bore.zip -DestinationPath .
          
          # Show Login Info
          Write-Host "`n==============================================="
          Write-Host "   USERNAME: RDP"
          Write-Host "   PASSWORD: $env:RDP_PASS"
          Write-Host "==============================================="
          
          # Start Tunnel
          Write-Host "Starting Tunnel... LOOK FOR THE ADDRESS BELOW (e.g., bore.pub:XXXXX)"
          .\bore.exe local 3389 --to bore.pub
